doctype
html
  head
    title 宇宙海賊合同会社    
    meta(property='og:title', content='宇宙海賊合同会社')
    meta(property='og:type', content='website')
    meta(property='og:description', content='宇宙海賊合同会社は主にコンピュータソフトウェアおよびハードウェアのコンサルティング 企画 研究 開発 人材育成 職業適性 能力開発のための教育等を手がけています。')
    meta(property='og:url', content='space-pirates.co.jp')
    meta(property='og:site_name', content='宇宙海賊合同会社')
    meta(property='og:image', content='./images/space-pirates-ogp.png')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel="stylesheet" href="/main.css")
    link(rel='shortcut icon', href='/images/favicon.png')
  body
    != yield