main.main
  div
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') プライバシーポリシー
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') 1. 定義
    p(style='margin-top: 0pt; margin-bottom: 12pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;')
        | 本ポリシーにおいて、「個人情報」とは、個人情報の保護に関する法律第2条第1項により定義される個人情報、すなわち、生存する個人に関する情報であって、次の1.1.または1.2.のいずれかに該当するものをいいます。
    ol(type='1' style='margin: 0pt; padding-left: 0pt;')
      li(style='\
      margin-left: 21.5pt;\
      padding-left: 2.5pt;\
      font-family: ＭＳ 明朝;\
      font-size: 10.5pt;\
      color: #4a4a4a;\
      ')
        span
          | 当該情報に含まれる氏名、
          | 生年月日その他の記述等（同法第2条第1項第1号に定めるものをいいます。）により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）
      li(style='\
      margin-top: 3pt;\
      margin-left: 21.5pt;\
      padding-left: 2.5pt;\
      font-family: ＭＳ 明朝;\
      font-size: 10.5pt;\
      color: #4a4a4a;\
      ')
        span 同法第2条第2項第2号に定める個人識別符号が含まれるもの
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') 2. 取得する情報およびその利用目的等
    p(style='margin-top: 0pt; margin-bottom: 12pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 宇宙海賊合同会社（以下「
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 当社
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 」）
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') は、
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') ユーザーの
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 個人情報を取得するにあたってその取得項目
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 、利用目的
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') を特定
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') し、
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 特定した利用目的の達成に必要な範囲
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 内で個人情報を利用します
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 。
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') 3. 第三者への提供および共同利用等
    ol(type='1' style='margin: 0pt; padding-left: 0pt;')
      li(style='\
      margin-left: 21.5pt;\
      padding-left: 2.5pt;\
      font-family: ＭＳ 明朝;\
      font-size: 10.5pt;\
      color: #4a4a4a;\
      ')
        span 当社は、ユーザー情報のうち個人情報に該当するものについて、以下の各号に定める場合を除いて、第三者に提供しません。
        ol(type='1' style='margin-right: 0pt; margin-left: 0pt; padding-left: 0pt;')
          li(style='margin-left: 21.5pt; padding-left: 2.5pt;')
            span あらかじめユーザーの同意を得た場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span 法令に基づく場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span
              | 国の機関若しくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span 事業譲渡等によって当社の事業の承継が行われる場合
      li(style='\
      margin-top: 3pt;\
      margin-left: 21.5pt;\
      padding-left: 2.5pt;\
      font-family: ＭＳ 明朝;\
      font-size: 10.5pt;\
      color: #4a4a4a;\
      ')
        span 当社は、
        span 提供する
        span サービスの改良等を目的として
        span 当該
        span
          | サービスの利用頻度等を測定するために、外部サービスであるGoogle
          | Analyticsを利用し、匿名のトラフィックデータを収集
        span することがあります
        span 。この行為により利用者個人が特定されることはあり
        span
          | ません。Google
          | Analyticsの収集する情報およびその取扱いについては、同社のプライバシーポリシー（https://www.google.com/intl/ja/policies/privacy/partners/）をご参照ください。
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') 4. 開示および訂正等
    ol(type='1' style='margin: 0pt; padding-left: 0pt;')
      li(style='\
      margin-left: 21.5pt;\
      padding-left: 2.5pt;\
      font-family: ＭＳ 明朝;\
      font-size: 10.5pt;\
      color: #4a4a4a;\
      ')
        span
          | ユーザーは、当社に対して、当社が保有する個人情報の開示を、当社が別途指定する手続きによって、請求することができます。ただし、次の各号の場合はこの限りではありません。
        ol(type='1' style='margin-right: 0pt; margin-left: 0pt; padding-left: 0pt;')
          li(style='margin-left: 21.5pt; padding-left: 2.5pt;')
            span ユーザー本人が請求していることが確認できない場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span ユーザー本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span 当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
          li(style='margin-top: 3pt; margin-left: 21.5pt; padding-left: 2.5pt;')
            span 他の法令に違反することとなる場合
      li(style='\
      margin-top: 3pt;\
      margin-left: 21.5pt;\
      padding-left: 2.5pt;\
      font-family: ＭＳ 明朝;\
      font-size: 10.5pt;\
      color: #4a4a4a;\
      ')
        span
          | ユーザーは、当社が保有する当該ユーザーの個人情報の内容が事実でない場合は、当社が別途指定する手続きによって、当該個人情報の内容の訂正、追加または削除（以下「訂正等」といいます。）を請求することができます。この場合、当社は当該個人情報の利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、当該個人情報の内容の訂正等を行います。
      li(style='\
      margin-top: 3pt;\
      margin-left: 21.5pt;\
      padding-left: 2.5pt;\
      font-family: ＭＳ 明朝;\
      font-size: 10.5pt;\
      color: #4a4a4a;\
      ')
        span
          | 第１項の開示手続きにあたって、当社は、ユーザー本人による個人情報開示請求であることを確認するために必要な限度で、ユーザーの身分証明にかかる書類等の写しの提出を求めることができます。
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') 5. 本サービス利用に必要な個人情報について
    p(style='margin-top: 0pt; margin-bottom: 12pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 当社へのお問い合わせの際の、ユーザーの連絡先について、ユーザーがその提供に同意しない場合、当社からの回答することはできません。
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') 6
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') . 改定
    p(style='margin-top: 0pt; margin-bottom: 12pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;')
        | 本プライバシーポリシーは、改定されることがあります。改定に当たって、当社は、改定後の本プライバシーポリシーを当社が別途指定する方法で表示し、改定した旨の通知をユーザーに対して当社が指定する方法により通知します。
    p(style='margin-top: 13.7pt; margin-bottom: 6.85pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; font-weight: bold; color: #363636;') 8. お問い合わせ
    p(style='margin-top: 0pt; margin-bottom: 12pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;') 本プライバシーポリシーに関するお問い合せは、以下のメールアドレスまでお願い致します。
    p(style='margin-top: 0pt; margin-bottom: 12pt; font-size: 10.5pt;')
      a(href='mailto:info@space-pirates.co.jp' style='text-decoration: none;')
        span(style='\
        font-family: ＭＳ 明朝;\
        text-decoration: underline;\
        color: #0000ff;\
        ') i
        span(style='\
        font-family: ＭＳ 明朝;\
        text-decoration: underline;\
        color: #0000ff;\
        ') nfo@space-pirates.co.jp
    p(style='margin-top: 0pt; margin-bottom: 12pt; font-size: 10.5pt;')
      span(style='font-family: ＭＳ 明朝; color: #4a4a4a;')  
