//COLORS

$white: #fafafa;
$pure-white: #ffffff;
$white-gray: #f3f3f3;
$bright-gray: #c3c3c3;
$normal-gray: #95989a;
$dark-gray: #555555;
$very-dark-gray: #313131;
$bright-black: #212121;
$link-color: #448aff;
$error-color: #fce4ec;

//FONTS

$bold-font: AvenirNext-DemiBold, "Avenir Next", "メイリオ", "Meiryo", "Meiryo UI", Helvetica;
$bold-weight: 600;

$semibold-font: "AvenirNext-Medium","Avenir Next", Helvetica;
$semibold-weight: 500;

$medium-font: HiraginoSans-W3, "Hiragino Sans W3", "ヒラギノ角ゴシック W3", "メイリオ", "Meiryo", "Meiryo UI", Helvetica;
